html[lang="ar"] {
  direction: rtl;
}

html[lang="en"] {
  direction: ltr;
}

body {
  direction: ltr;
}
/* .custom-toast-container {
  margin-right: 0 !important;
  margin-left: none !important;
} */
